/* domine-regular - latin */
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 400;
  src: url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Domine'), local('Domine-Regular'),
       url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./css/fonts/domine-v7-latin/domine-v7-latin-regular.svg#Domine') format('svg'); /* Legacy iOS */
}

* {
  font-family: Domine;
}

html, body, #root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

html, body {
  position: fixed;
}