@media only screen and (max-width: 768px) {
  .landscape {
    display: none;
  }

  html {
    font-size: 100%;
  }

  .title { font-size: 5rem }
  .subtitle { font-size: 3rem; }

  /* label {
    white-space: normal;
  } */

  /* animate nav */
  .nav > .routes {
    width: 100vw;
  }

  .nav.visible.false > .routes {
    margin-left: -100vw;
  }

  .nav > button.menu {
    top: .5rem;
    left: .5rem;
  }

  /* TEMPATE */

  .page {
    padding: 0 .5rem 0 .5rem;
  }

  .item-grid > .item-container{
    width: 50%;
  }
  

}