@media only screen and (max-width: 768px) {
  .landscape {
    display: none;
  }

  html {
    font-size: 100%;
  }

  .title { font-size: 5rem }
  .subtitle { font-size: 3rem; }

  /* label {
    white-space: normal;
  } */

  /* animate nav */
  .nav > .routes {
    width: 65vw;
    padding: 5rem 1rem 1rem 1rem;
  }

  .nav.visible.false > .routes {
    margin-left: -65vw;
  }

  .nav > button.menu {
    top: .5rem;
    left: .5rem;
  }

  /* TEMPATE */

  .page {
    padding: 0 .5rem 0 .5rem;
  }

  .item-grid > * {
    width: 50%;
  }

  .item-page {
    flex-direction: column;
  }

  .item-page > .display {
    width: 100%;
  }

}