@media only screen and (max-width: 768px) {

  html {
    font-size: 100%;
  }

  .title { font-size: 5rem }
  .subtitle { font-size: 3rem; }

  /* label {
    white-space: normal;
  } */

  /* animate nav */
  .nav > .routes {
    width: 100vw;
  }

  .nav.visible.false > .routes {
    margin-left: -100vw;
  }

  .homepage {
    flex-direction: column;
    padding: 5rem 1rem 1rem 1rem;
  }

  .layout {
    padding: 2rem;
  }

}